#banner
  .banner_content 
    %h1 DocFile 
    %p All Docs, All Filed, All the Time 
    %button= link_to "Enter", new_user_registration_path 

#callouts
  .callout_inner
    .wrapper
      .callout 
        %h2 Be Organised Always 
        %p Hashtag plaid raclette banh mi. Selvage flannel etsy tousled hot chicken aesthetic lyft vaporware. Normcore godard 8-bit farm-to-table subway tile. +1 sriracha hashtag meggings pour-over pug post-ironic yr lumbersexual letterpress hot chicken shabby chic raw denim.

#bottom_cta
  .wrapper
    %h2 Come On!
    %br
    %button= link_to "Join Now", new_user_registration_path 